node_modules/
dist/
# Compiled Java class files
*.class
env.json
# Compiled Python bytecode
*.py[cod]

# Log files
*.log
/logs/
app.log
# Package files
*.jar
/config/
.env
README.md
API.md
/logs/log
serviceAccountKey.json
/__tests__/
babel.config.js