node_modules/
dist/
# Compiled Java class files
*.class
env.json
# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Package files
*.jar
/config/
.env
README.md
API.md

serviceAccountKey.json
/__tests__/
babel.config.js